.card_content {
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-color: var(--color-text-muted);
    border-width: 0px;
    border-radius: 8px;
    padding: 1rem;

    .card_title {
        margin-bottom: 1rem;
    }

    .sidebar_content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;
    }

    .card_body {
        flex: 5;
    }

    &.border_thin {
        border-width: 1px;
    }

    &.border_thick {
        border-width: 4px;
    }
}
