$text: hsl(17, 13%, 96%);
$text-half-muted: hsl(17, 13%, 76%);
$text-muted: hsl(0, 0%, 56%);
$background: hsl(14, 42%, 6%);
$overlay: hsl(0, 0%, 12%);
$primary: hsl(20, 36%, 45%);
$primary-light: hsl(20, 36%, 75%);
$secondary: hsl(149, 36%, 48%);
$accent: hsl(189, 36%, 38%);
$accent-light: hsl(189, 36%, 55%);
