.p_0\.5 {
    padding: 0.5rem;
}

.p_1 {
    padding: 1rem;
}

.p_1\.5 {
    padding: 1.5rem;
}

.p_2 {
    padding: 2rem;
}

.m_0\.5 {
    margin: 0.5rem;
}

.m_1 {
    margin: 1rem;
}

.m_1\.5 {
    margin: 1.5rem;
}

.m_2 {
    margin: 2rem;
}

.mx_0\.5 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.my_0\.5 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
