@use './colors';

.bg_overlay {
    background-color: colors.$overlay;
}

.text {
    color: var(--color-text);
}

.text_muted {
    color: colors.$text_muted;
}

.text_primary {
    color: colors.$primary;
}

.text_primary_light {
    color: colors.$primary_light;
}

.text_secondary {
    color: colors.$secondary;
}

.text_accent {
    color: colors.$accent;
}

.text_accent_light {
    color: colors.$accent_light;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.gap-2 {
    gap: 1rem;
}

.no_weight {
    font-weight: 400;
}
